# Виртуальное окружение
venv/

# Конфигурационные файлы
.env

# Кэш и временные файлы
__pycache__/
*.py[cod]
*.pyo
*.log
*.tmp
*.swp

cache/


.vscode/
.idea/
.DS_Store
Thumbs.db

.eggs/
*.egg-info/
dist/
build/
